<html>
    <head>
        <!--General Setting-->
        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta charset="utf-8">
        
        <!--Site Setting-->
        <title><%= config.title %></title>
        
        <!--Import StyleSheet-->
        <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/obsidian.min.css">
        <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="render/nplayer.css">
        <link rel="stylesheet" href="render/mainpage.css">
        <link rel="stylesheet" href="render/main.css">
        
    </head>
    <body>
        <div class="container">
            <%- body %>
            <!--Site Header-->
            <div class="header">
                <h8><%= config.title %></h8>
                <small><%= config.subtitle %></small>
                <hr />
            </div>
            
            <!--Article-->
            <div id="article" current="#">
                <h8 id="atitle" class="article_title">第一篇文章</h8>
                <div id="atime" class="article_time">
                        2017/08/19 6:32 PM
                </div>
                <div class="article_info">
                    <ul id="acate" class="article_category">
                        <a href="#/sidectl/tag_category/笔记"><li class="fa">我自己的笔记</li></a>
                    </ul>
                    <ul id="atag" class="article_tag">
                        <a href="#/sidectl/tag_tag/笔记"><li class="fa">笔记</li></a>
                        <a href="#/sidectl/tag_tag/NHibiki"><li class="fa">NHibiki</li></a>
                    </ul>
                    
                </div>
                <div id="acontent" class="article_content">
                    <p>段落一</p>
                    <pre qoute>段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二段落二</pre>
                    <br />
                    <p>下面是代码</p>
                    <li>代码一</li>
                    <li>代码二</li>
                    <li>代码三</li>
                    <pre>
                        <code>
&lt;a href="??"&gt;OK&lt;/a&gt;
this.console.log("haha");
console.log("it is a long long long long long long long long long long long long long long long long long long long long long sentence.");
                        </code>
                    </pre>
                    <h3>段落三</h3>
                    <p>段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四段落四</p>
                    <b>段落五</b>
                </div>
            </div>
            
            <!--Surf Control-->
            <div class="page_control">
                <button class="rbtn fa" onclick="prev();"> &#xf100; Prev </button>
                <button class="rbtn fa" onclick="next();"> Next &#xf101; </button>
            </div>
            
            <!--Comments-->
            <hr />
            <div class="comments">
                <button class="rbtn flatbtn">Show Comments</button>
            </div>
            
            <!--Site Footer-->
            <div class="footer">
                <p class="siteinfo">采用 Creative Comments 4.0 协议。</p>
                <p class="sitecpr">Using Theme Slice By <a href="https://nekoyu.cc">NHibiki</a>。 Site Copyright &copy;<%= config.author%> 2017。</p>
            </div>
        </div>
        
        <div id="open" class="menubtn fa" onclick="showMenu();"></div>
        <div id="menu" class="sideview">
            <div class="header">
                <h8><%= config.title %></h8>
                <small><%= config.subtitle %></small>
            </div>
            <div class="sidemenu">
                <% for (var i in theme.menu) { %>
                    <a href="<%- url_for(theme.menu[i]) %>"><li><%= i %></li></a>
                <% } %>
            </div>
            <div id="linktable" class="sidelink">
                <a href="#/view/article_is_a"><li>第一篇文章</li><p>第一篇文章第一篇文章</p></a>
                <a href="#/view/article_intro"><li>第二篇文章</li><p>第一篇文章第一篇文章</p></a>
                <a href="#/view/article_haha"><li>第三篇文章</li><p>第一篇文章第一篇文章</p></a>
                <a href="#/view/article_justtest"><li>第四篇文章</li><p>第一篇文章第一篇文章</p></a>
                <a href="#/view/article_miaomiao"><li>第五篇文章</li><p>第一篇文章第一篇文章</p></a>
            </div>
        </div>
        
        <!-- Site Plugin -->
        <div id="mainpage" class="mainpage">
            <div class="header">
                <h8><%= config.title %></h8>
                <small><%= config.subtitle %></small>
                <div id="mptoggle" class="fa">&#xf102;</div>
            </div>
        </div>
        <div id="nplayer">
            <div class="ntitle">一首歌曲</div>
            <div class="nsubtitle">NHibiki - 歌曲</div>
            <div class="ncontrolplay fa"></div>
            <div class="ncontrolnext fa"></div>
            <div class="switcher"></div>
            <audio id="naudio" autoplay repeat></audio>
        </div>
        
        <!--Import Script-->
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
        <script>
            var CONTENTURL='<%- url_for("/contents.json"); %>';
            var SONGLIST = [
                <% for (var i in theme.music) { %>
                    {
                        title: "<%=i%>",
                        subtitle: "<%=theme.music[i].subtitle%>",
                        src: "<%=theme.music[i].src%>"
                    },
                <% } %>
                ];
            var FRIENDLIST = {
                <% for (var i in theme.link) { %>
                    "<%=i%>": "<%=theme.link[i]%>",
                <% } %>
            };
        </script>
        <script src="script/mainpage.js"></script>
        <script src="script/controller.js"></script>
        <script src="script/nplayer.js"></script>
        <script src="script/main.js"></script>
    </body>
</html>